.post {
  width: 500px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;

}

.post h3 {
  margin-top: 0;
}

.post p {
  line-height: 1.5;
}

.post button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}